<div id="<%= dom_id order %>">
  <p>
    <strong>Submission format:</strong>
    <%= order.submission_format %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= simple_format(order.result) %>
  </p>

</div>
