<div id="<%= dom_id bundle %>">
  <p>
    <strong>Code:</strong>
    <%= bundle.code %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= bundle.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= bundle.price %>
  </p>

</div>
